---
import BlogCard from "@/components/BlogCard.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { render } from "astro:content";

export async function getStaticPaths() {
  const COLLECTION_FOLDER = "authors";
  const authors = await getSinglePage(COLLECTION_FOLDER);

  const paths = authors.map((author) => ({
    params: {
      single: author.id,
    },
    props: { author },
  }));
  return paths;
}

const { author } = Astro.props;
const { title, social, image } = author.data;
const { Content } = await render(author);

const posts = await getSinglePage("blog");
const postFilterByAuthor = posts.filter(
  (post) => slugify(post.data.author!) === slugify(title)
);
---

<Base {...author.data}>
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-8">
          {
            image && (
              <Image
                src={image}
                class="mx-auto rounded-full w-[120]] h-[120px] object-cover"
                height={120}
                width={120}
                alt={title}
              />
            )
          }
          <h1 class="my-3 font-bold" set:html={markdownify(title)} />
          <div class="content">
            <Content />
          </div>
          <Social source={social!} className="social-icons author-social" />
        </div>
      </div>

      <div class="row justify-center section">
        {
          postFilterByAuthor.map((post) => (
            <div class="mb-12 md:col-6 lg:col-4">
              <BlogCard {...post} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
